.item-sh{
	display: flex;
	flex-direction: row;
	padding: 8px;
	border-bottom: 1px solid #EEEEEE; 
}

.item-sh:hover{
	background-color: #F8F8F8;
}

.el-right{
	flex-direction: column;
	order:1;
	flex-grow: 1;
}

.el-left{
	order: 2;
}

.el-sh{
	margin-bottom: 2vh;
	cursor: pointer
}

.long-sh{
	max-width: 25vw;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:#95989A;
}

.short-sh{
	color:#37A2F3;
	font-size: 18px;
	cursor: pointer
}