.hide-menu{
	display: flex;
	flex-direction:column;
	margin: 15px;
	margin: 0 auto;
	padding-top: 20px;
}

.button-hide{
	border:0;
	margin:0;
	background-color: #37A2F3;
	width: 100px;
	height: 25px;
	color: #fff;
	outline: 0;
}